<!DOCTYPE html>
<html>
<head>
    <title>Авторизация администратора</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin.css">
    <!--/metatextblock-->
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon" />
    <!-- Assets -->
    <link rel="stylesheet" href="/css/grid-3.0.min.css" type="text/css" media="all" onerror="this.loaderr='y';" />
    <link rel="stylesheet" href="/css/blocks-page61337267.min.css" type="text/css" media="all"
        onerror="this.loaderr='y';" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&subset=latin,cyrillic"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/animation-2.0.min.css" type="text/css" media="all" onerror="this.loaderr='y';" />
    <link rel="stylesheet" href="/css/popup-1.1.min.css" type="text/css" media="print" onload="this.media='all';"
        onerror="this.loaderr='y';" />
    <noscript>
        <link rel="stylesheet" href="/css/popup-1.1.min.css" type="text/css" media="all" /></noscript>
    <link rel="stylesheet" href="/css/slds-1.4.min.css" type="text/css" media="print" onload="this.media='all';"
        onerror="this.loaderr='y';" />
    <noscript>
        <link rel="stylesheet" href="/css/slds-1.4.min.css" type="text/css" media="all" /></noscript>
    <link rel="stylesheet" href="/css/catalog-1.1.min.css" type="text/css" media="print" onload="this.media='all';"
        onerror="this.loaderr='y';" />
    <noscript>
        <link rel="stylesheet" href="/css/catalog-1.1.min.css" type="text/css" media="all" /></noscript>
    <link rel="stylesheet" href="/css/forms-1.0.min.css" type="text/css" media="all" onerror="this.loaderr='y';" />
    <link rel="stylesheet" href="/css/cards-1.0.min.css" type="text/css" media="all" onerror="this.loaderr='y';" />
    <link rel="stylesheet" href="/css/cart-1.0.min.css" type="text/css" media="all" onerror="this.loaderr='y';" />
    <link rel="stylesheet" href="/css/zoom-2.0.min.css" type="text/css" media="print" onload="this.media='all';"
        onerror="this.loaderr='y';" /> <noscript>
        <link rel="stylesheet" href="/css/zoom-2.0.min.css" type="text/css" media="all" /></noscript>
</head>
<body>
<h1 class="t795__title t-title t-title_xs t-align_center t-margin_auto" field="title">Авторизация администратора</h1>

<% if (locals.error) { %>
    <p style="color: red;"><%= error %></p>
<% } %>

<form action="/login" method="post" class="form-group">
    <label for="username">Логин:</label>
    <input type="text" id="username" name="username"><br>

    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password"><br>

    <button type="submit">Войти</button>
</form>
</body>
</html>
